<ion-header>
  <ion-toolbar>
    <ion-title>
      <b> Day 1 Homework </b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Homework for day 1 includes using an alert and toast component on Ionic, as well as answering some questions on a Google Doc.
    <p>Here's a link to my <a href="https://docs.google.com/document/d/1WzjDfq432H7i9lro6jsmJoNW9XQ2B7CQmwPNp_Vyn5k/edit?usp=sharing"> word responses </a> and here's a link to my <a href="https://github.com/ericzhaoez/pre-work"> pre-work on Github</a>!</p>
    <p> <b> Alert Button </b> </p>
    <ion-button class="main-button" color="--first-color" expand="block" (click)="presentAlert()"> 
    Click to test!
    </ion-button>
    <p> <b> Toast Button </b> </p>
    <ion-button class="main-button" color="--first-color" expand="block" (click)="presentToast()"> 
        Will this work?
    </ion-button>
  </div>
</ion-content>
